<div class="p-5" id="content" tabindex="-1">
  <h1 class="text-white">Myco-Filez</h1>
  <p class="text-white">Find info about Mushrooms here!</p>

  <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4">
  <% @myco_files.each do |myco_file| %>
            
        <%= render partial: "myco_files/card", :locals => { :myco_file => myco_file } %>
      
    <% end %>
  </div>
</div>