<h1>Myco-Filez</h1>
<p>Find info about Mushrooms here!</p>

<ul>
  <% @myco_files.each do |myco_file| %>
    <li>
    <a href="/myco-filez/<%= myco_file.id %>">
      <%= myco_file.name %>
      </a>
    </li>
  <% end %>
</ul>
