<h1>Myco-Filez</h1>
<p>Find info about Mushrooms here!</p>

<ul>
  <% @myco_files.each do |myco_file| %>
    <li>
      <%= link_to myco_file.name, myco_file %>
    </li>
  <% end %>
</ul>

<%= link_to "New Myco-File", new_myco_file_path %>