<div style="width:300px; height:auto">
  <%= image_tag(photo.image, style:'width:100%; max-height: 100%', alt: photo.alt) %>
</div>

<p>
  <strong>Title:</strong>
  <%= photo.filename %>
</p>

<p>
  <strong>Caption:</strong>
  <%= photo.alt %>
</p>

